@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.offer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgb(0, 0, 70);
  background: $blue;
  color: $white;
  position: relative;

  @media screen and (min-width: $breakpoint-lg) {   
    padding-top: 5rem;
    padding-bottom: 5rem;   
  }
  
  a.button {
    margin-top: 1.25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-title {
    text-align: center;
    margin-bottom: 2.5rem;
    
    h1,
    h2,
    h3,
    h4 {
      text-transform: uppercase;
      font-weight: bold;
      font-family: $font-rubik;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 1rem;
    
      @media screen and (min-width: $breakpoint-lg) {
        text-indent: -1px;
        line-height: 3.5rem;
      }
    }
  }
}

.offer .local-value {
  margin-top: 2.5rem;
  display: grid;

  @media screen and (min-width: $breakpoint-lg) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 5rem;
  }

  .heading-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  }
  .content {
    @media screen and (min-width: $breakpoint-lg) {
      grid-column: span 8 / span 8;
      grid-column-start: 3;
    }
  }
}

.offer .packages {
  display: grid;
  row-gap: 1.25rem;
  overflow: hidden;

  @media screen and (min-width: $breakpoint-xl) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 0;
    column-gap: 2.5rem;
    align-items: center;
  }

  .package {
    display: grid;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-xl) {
      grid-column: span 7 / span 7;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .content {
    height: 25rem;
    overflow: hidden;
    border-radius: 0.625rem;

    img.image-content, .bg-blue-hard-light{
      height: 25rem;

      @media screen and (min-width: $breakpoint-xl) {
        height: 100%;
      }
    }

    @media screen and (min-width: $breakpoint-xl) {
      grid-column: span 5 / span 5;
      height: 100%;
    }
  }
}


.offer .packages .package .option {
  text-align: center;
  background-color: $white;
  color: $blue;
  padding: 1.25rem;
  border-radius: 0.625rem;
  position: relative;

  @media screen and (min-width: $breakpoint-lg) {
    padding: 1.5625rem;
  }
}

.offer .packages .package .title h1,
.offer .packages .package .title h2,
.offer .packages .package .title h3,
.offer .packages .package .title h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-rubik;
  font-size: 1.875rem;
  color: $blue;
  margin-bottom: 1.25rem;
}

.offer .packages .package .options {
  display: grid;
  row-gap: 1.25rem;
  column-gap: 1.25rem;

  @media screen and (min-width: $breakpoint-lg) {

    grid-column: span 12 / span 12;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.offer .packages .package .options .option {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  align-items: center;
  
  img {
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 10px;
    animation: waveAnimation 3s ease-in-out infinite;
  }

  .text h1,
  .text h2,
  .text h3,
  .text h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-rubik;
    font-size: 1rem;
    line-height: 1.875rem;
    color: $blue;
  }
}